.main-nav__container {
  width: 1160px;
  margin: 0 auto;
  box-sizing: content-box;
  padding-top: 33px;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: 1160px;
    width: 95%;
  }

  @media (max-width: $tablet-width) {
    width: 88%;
    padding-top: 18px;
  }

  @media (max-width: $mobile-width) {
    width: 91%;
    padding-top: 11px;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-nav__list-wrapper {
  align-self: center;
}

.main-nav__wrapper-logo {
  display: none;
}

.main-nav__logo img {
  width: 70px;
  height: 38px;
  fill: #f9fbfd;

  @media (max-width: $tablet-width) {
    margin-top: 11px;
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 9px;
    width: 42px;
    height: 22px;
  }
}

.main-nav__logo {
  display: inline-block;
  width: 70px;
  height: 38px;
  cursor: pointer;
  vertical-align: baseline;
}

.main-nav__logo img:hover {
  opacity: 0.8;
}

.main-nav__logo img:active {
  opacity: 0.6;
}

.main-nav__logo-modal {
  cursor: pointer;
}

.main-nav__logo-modal img:hover {
  opacity: 0.8;
}

.main-nav__logo-modal img:active {
  opacity: 0.6;
}

.main-nav--opened .main-nav__logo {
  display: none;
}

.main-nav--opened .main-nav__list-wrapper {
  @media (max-width: $mobile-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 285px;
    height: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.main-nav--no-js .main-nav__list-wrapper {
  @media (max-width: $mobile-width) {
    position: static;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 285px;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 0 0 15px;
  }
}

.main-nav--no-js .main-nav__logo {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-nav--no-js .main-nav__wrapper-logo {
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.main-nav--no-js .main-nav__container {
  @media (max-width: $mobile-width) {
    padding-top: 0;
    width: 100%;
  }
}

.main-nav--no-js .main-nav__list {
  @media (max-width: $mobile-width) {
    display: block;
    margin-top: 40px;
  }
}

.main-nav--opened .main-nav__svg {
  @media (max-width: $mobile-width) {
    margin-top: 20px;
    margin-left: 15px;
  }
}

.main-nav__list {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $mobile-width) {
    display: block;
    padding: 43px 0 0 25px;
  }
}

.main-nav--opened .main-nav__wrapper-logo {
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 9px;
    right: 4px;
    z-index: 11;

    display: block;
    width: 50px;
    height: 50px;

    background: none;
    border: none;
    cursor: pointer;
  }
}

.main-nav__toggle::before {
  @media (max-width: $mobile-width) {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;

    width: 24px;
    height: 2px;

    background-color: #f9fbfd;
    box-shadow: 0 6px 0 0 #f9fbfd, 0 12px 0 0 #f9fbfd;
  }
}

.main-nav__toggle:active::before {
  @media (max-width: $mobile-width) {
    background-color: rgba(#011c40, 30%);
    box-shadow: 0 8px 0 0 rgba(#011c40, 30%), 0 16px 0 0 rgba(#011c40, 30%);
  }
}

.main-nav--no-js .main-nav__toggle {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  @media (max-width: $mobile-width) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: 22px;

      width: 20px;
      height: 2px;

      background-color: #011c40;
    }

    &::before {
      box-shadow: none;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(#333333, 30%);
    }
  }
}
