// .page-header {
//   display: flex;
//   flex-direction: column;
//   min-height: 650px;

//   background-color: #083a6d;
//   background-image: url("../img/bg-header-desktop.jpg");
//   background-repeat: no-repeat;
//   background-position: 0 center;
//   background-size: cover;
//   filter: drop-shadow(0 4px 4px #00000040);

//   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
//     background-image: url("../img/bg-header-desktop@2x.jpg");
//     background-repeat: no-repeat;
//     background-position: 0 center;
//     background-size: cover;
//   }

//   @media (max-width: $tablet-width) {
//     min-height: 638px;
//     background-image: url("../img/bg-header-tablet.jpg");
//     background-repeat: no-repeat;
//     background-position: 0 center;
//     background-size: cover;
//     filter: none;

//     @media (min-resolution: $retina-dppx) {
//       background-image: url("../img/bg-header-tablet@2x.jpg");
//       background-repeat: no-repeat;
//       background-position: 0 center;
//       background-size: cover;
//     }
//   }

//   @media (max-width: $mobile-width) {
//     min-height: 500px;
//     background-image: url("../img/bg-header-mobile.jpg");
//     background-repeat: no-repeat;
//     background-position: 0 center;
//     background-size: cover;
//     filter: none;

//     @media (min-resolution: $retina-dppx) {
//       background-image: url("../img/bg-header-mobile@2x.jpg");
//       background-repeat: no-repeat;
//       background-position: 0 center;
//       background-size: cover;
//     }
//   }
// }

.page-header {
  display: flex;
  flex-direction: column;
  background: #083a6d url("../img/bg-header-desktop.jpg") no-repeat center;
  background-size: cover;
  min-height: 650px;
  background-position: 0 center;
  filter: drop-shadow(0 4px 4px #00000040);

  @media (min-resolution: $retina-dppx) and (min-width: $retina-dpi) {
    background-image: url("../img/bg-header-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bg-header-tablet.jpg");
    min-height: 638px;
    filter: none;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bg-header-mobile.jpg");
    min-height: 500px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-mobile@2x.jpg");
    }
  }
}

.page-header__wrapper {
  &--modal {
    display: none;
  }

  @media (max-width: $mobile-width) {
    display: none;

    &--modal {
      display: block;
    }
  }
}
