.social__link img:hover {
  opacity: 0.8;
}

.social__link img:active {
  opacity: 0.6;
}

.social__link img {
  @media (max-width: $tablet-width) {
    width: 16px;
  }
}

.social__item {
  user-select: none;
}
