// Colors
$color-default-black:               #000000;
$color-default-white:               #f9fbfd;
$color-transparent:                 #ffffff00;

// Typography
$ff-montserrat:                         "Montserrat", "Arial", sans-serif;

// Viewports
$desktop-max: 1365px;
$desktop-min: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

// Retina
$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
